
@import "global";

.fi-experiment-container {
	margin: 1.4rem auto 0 auto;
	width: 100%;
}

@media #{$medium-and-up} {
	.fi-experiment-container {
		width: 98%;
	}
}
@media #{$large-and-up} {
	.fi-experiment-container {
		width: 95%;
	}
}

.fi-experiment-title {
	padding: 0.8rem 0;
}

.render-container {
	position: relative;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
	background-color: red;
}

.render-view {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}