
@import "global";

.fi-experiment-container {
	margin: 1.4rem auto 0 auto;
	width: 100%;
}

@media #{$medium-and-up} {
	.fi-experiment-container {
		width: 98%;
	}
}
@media #{$large-and-up} {
	.fi-experiment-container {
		width: 95%;
	}
}

.fi-experiment-title {
	padding: 0.8rem 0;
}



.render {
	position: relative;
}

.render-container {
	position: relative;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
	//background-color: red;
}

.render-controls {
	position: absolute;
	bottom: 0;
	background-color: rgba(100, 100, 100, 0.5);
	color: white;
	width: 100%;
}

.render-view {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


.timekeeper-label {
	float: left;
}

.render-control-start {
	float: left;
	width: auto;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
}



.render-loader-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(64, 64, 64);
}

.render-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -40px 0 0 -40px;
	border: 10px solid #f3f3f3;
	border-top: 10px solid rgb(9, 178, 189);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: render_loader_spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@media #{$medium-and-up} {
	.render-loader {
		margin: -64px 0 0 -64px;
		border: 14px solid #f3f3f3;
		border-top: 14px solid rgb(9, 178, 189);
		width: 90px;
		height: 90px;
	}
}
@media #{$large-and-up} {
	.render-loader {
		margin: -76px 0 0 -76px;
		border: 16px solid #f3f3f3;
		border-top: 16px solid rgb(9, 178, 189);
		width: 120px;
		height: 120px;
	}
}

@-webkit-keyframes render_loader_spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes render_loader_spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
