
.btn {
	background-color: rgb(9, 178, 189);
	border: none;
	border-radius: 3px;//$button-radius;
	font-family: Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: white;
	display: inline-block;
	//height: $button-height;
	padding: 12px 10px;//$button-padding;
	margin-bottom: 0.7rem;
	vertical-align: middle;
	text-align: center;
	line-height: 16px;
	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	box-shadow: 2px 2px 10px #888888;
}

button {
	width: 100%;
}
