
.error-card {
	background-color: #e53935;
	border-radius: 3px;
	padding: 0.8rem;

	.error-card-title {
		color: white;
		padding-left: 1rem;
	}

	ul {
		padding-left: 1rem;
		margin: 0.2rem 0;

		li {
			color: white;
			font-size: 0.9rem;
		}
	}
}