
/*****************************************************************************************
Global
*****************************************************************************************/

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


/*****************************************************************************************
Grid
*****************************************************************************************/

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;


/*****************************************************************************************
Colors
*****************************************************************************************/

$primary-color: rgb(9, 178, 189) !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

/*$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;*/


/*****************************************************************************************
Navbar
*****************************************************************************************/

$navbar-height: 56px !default;
$navbar-line-height: $navbar-height !default;
$navbar-height-mobile: 56px !default;
$navbar-line-height-mobile: $navbar-height-mobile !default;
$navbar-font-size: 1rem !default;
$navbar-font-color: darkgray !default;
$navbar-brand-font-size: 1.3rem !default;


/*****************************************************************************************
Typography
*****************************************************************************************/

$off-black: rgba(0, 0, 0, 0.87) !default;
// Header Styles
$h1-fontsize: 2.6rem !default;
$h2-fontsize: 2.2rem !default;
$h3-fontsize: 1.8rem !default;
$h4-fontsize: 1.4rem !default;
$h5-fontsize: 1.2rem !default;
$h6-fontsize: 1rem !default;

/*****************************************************************************************

*****************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.note {
	font-size: 0.8rem;
}
