
input[type=text] {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 3px;
	font-size: 14px;
	background-color: white;
	padding: 10px 10px 10px 10px;

	&:focus {
		border: 1px solid #5882FA;
	}
}
